@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');

:root {
    --header-bg1: #8555ff;
    --header-bg2: #120076;
    --color-light: #f3e8d7;
}

*{
    font-family: 'Oswald', sans-serif;
}

.header {
    display: flex;
    background-image: linear-gradient(to right, var(--header-bg1),var(--header-bg2));
    color: var(--color-light);
    justify-content: center;
}

.forecast {
    width: 20%;
}


#main{
    display: grid;
    grid-template: 
    "city curr"
    "city fore" ;
    grid-template-columns: 20% 80% ;
}

#currentWeather {
    grid-area: curr;
}

#forecastContainer {
    grid-area: fore;
}

#citiesContainer {
    grid-area: city;
}

@media screen and (max-width: 768px) {
    #main{
        grid-template: 
        "curr"
        "fore"
        "city" ;
        grid-template-columns: 100% ;
    }
    .forecast {
        flex: 0 1 576px;
    }
    #forecastContainer {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    
}